body {
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    height: 50vh;
}

header {
    background-color: #00BFFF;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    margin: 20px;
}

table {
    background-color: #6495ED;
    color: white;
}

td {
    text-align: center;
    font-size: 1rem;
}

footer {
    background-color: #778899;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
